<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/images/template/shortcut_icon.ico">
    <title></title>

    <link href="/stylesheets/template/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/template/css/style.css" rel="stylesheet">
    <link href="/stylesheets/template/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Plugin This Page --> 
    <!-- End Plugins This Page -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
    
    </style>
</head>

<body>
    
    <% include ../template/header.ejs %>


    <section style="padding: 90px 0;">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <h2 class="m-t-0 m-b-0 text-center"><strong>BERITA JASA KONSTRUKSI</strong></h2>
                </div>
            </div>

            <div class="row" >
                <div class="col-md-4 col-lg-4" style="margin-top: 30px;">
                    <a href="/berita/detail/1">
                        <div style="width: 100%;position: relative;">
                            <img src="https://via.placeholder.com/360" alt="" style="width: 100%;border-top-left-radius: 10px;border-top-right-radius: 10px;">

                            <div style="width: 100%;position: absolute;left: 0;right: 0;bottom: 0;padding: 10px;background-color: rgba(0, 0, 0, 0.5);">
                                <h5 class="mt-0 mb-0" style="color: #fff;"><strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, distinctio.</strong></h5>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-md-4 col-lg-4" style="margin-top: 30px;">
                    <a href="/berita/detail/1">
                        <div style="width: 100%;position: relative;">
                            <img src="https://via.placeholder.com/360" alt="" style="width: 100%;border-top-left-radius: 10px;border-top-right-radius: 10px;">

                            <div style="width: 100%;position: absolute;left: 0;right: 0;bottom: 0;padding: 10px;background-color: rgba(0, 0, 0, 0.5);">
                                <h5 class="mt-0 mb-0" style="color: #fff;"><strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, distinctio.</strong></h5>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-md-4 col-lg-4" style="margin-top: 30px;">
                    <a href="/berita/detail/1">
                        <div style="width: 100%;position: relative;">
                            <img src="https://via.placeholder.com/360" alt="" style="width: 100%;border-top-left-radius: 10px;border-top-right-radius: 10px;">

                            <div style="width: 100%;position: absolute;left: 0;right: 0;bottom: 0;padding: 10px;background-color: rgba(0, 0, 0, 0.5);">
                                <h5 class="mt-0 mb-0" style="color: #fff;"><strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, distinctio.</strong></h5>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-md-4 col-lg-4" style="margin-top: 30px;">
                    <a href="/berita/detail/1">
                        <div style="width: 100%;position: relative;">
                            <img src="https://via.placeholder.com/360" alt="" style="width: 100%;border-top-left-radius: 10px;border-top-right-radius: 10px;">

                            <div style="width: 100%;position: absolute;left: 0;right: 0;bottom: 0;padding: 10px;background-color: rgba(0, 0, 0, 0.5);">
                                <h5 class="mt-0 mb-0" style="color: #fff;"><strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, distinctio.</strong></h5>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-md-4 col-lg-4" style="margin-top: 30px;">
                    <a href="/berita/detail/1">
                        <div style="width: 100%;position: relative;">
                            <img src="https://via.placeholder.com/360" alt="" style="width: 100%;border-top-left-radius: 10px;border-top-right-radius: 10px;">

                            <div style="width: 100%;position: absolute;left: 0;right: 0;bottom: 0;padding: 10px;background-color: rgba(0, 0, 0, 0.5);">
                                <h5 class="mt-0 mb-0" style="color: #fff;"><strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, distinctio.</strong></h5>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-md-4 col-lg-4" style="margin-top: 30px;">
                    <a href="/berita/detail/1">
                        <div style="width: 100%;position: relative;">
                            <img src="https://via.placeholder.com/360" alt="" style="width: 100%;border-top-left-radius: 10px;border-top-right-radius: 10px;">

                            <div style="width: 100%;position: absolute;left: 0;right: 0;bottom: 0;padding: 10px;background-color: rgba(0, 0, 0, 0.5);">
                                <h5 class="mt-0 mb-0" style="color: #fff;"><strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, distinctio.</strong></h5>
                            </div>
                        </div>
                    </a>
                </div>
                
            </div>
        </div>
    </section>

    

    <% include ../template/footer.ejs %>


    <script src="/javascripts/template/jquery.min.js"></script>
    <script src="/javascripts/template/bootstrap.bundle.min.js"></script>
    <!-- Plugins This Page -->
    <!-- End Plugins This Page -->
    <script type="text/javascript">
      
    </script>
</body>
</html>