<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/images/template/shortcut_icon.ico">
    <title></title>

    <link href="/stylesheets/template/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/template/css/style.css" rel="stylesheet">
    <link href="/stylesheets/template/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Plugin This Page --> 
    <!-- End Plugins This Page -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
    
    </style>
</head>

<body>
    
    <% include ../template/header.ejs %>


    <section style="padding: 90px 0;">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <h2 class="m-t-0 m-b-0 text-center"><strong>JUDUL BERITA JASA KONSTRUKSI</strong></h2>
                </div>
            </div>

            <div class="row" style="margin-top: 30px;">
                <div class="col-md-5 col-lg-5">
                    <div class="row">
                        <div class="col-md-12 col-lg-12">
                            <img src="https://via.placeholder.com/360" alt="" style="width: 100%;">
                        </div>
                    </div>

                    <div class="row" style="margin-top: 15px;">
                        <div class="col-md-4 col-lg-4">
                            <img src="https://via.placeholder.com/360" alt="" style="width: 100%;">
                        </div>
                        <div class="col-md-4 col-lg-4">
                            <img src="https://via.placeholder.com/360" alt="" style="width: 100%;">
                        </div>
                        <div class="col-md-4 col-lg-4">
                            <img src="https://via.placeholder.com/360" alt="" style="width: 100%;">
                        </div>
                    </div>
                </div>

                <div class="col-md-7 col-lg-7">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis qui ut eaque quidem cumque harum quis, est quam, provident accusantium assumenda nihil magni rem corrupti veniam ab vitae minus numquam dignissimos temporibus ipsam! Quidem obcaecati aut eius sequi commodi nihil nisi totam sit, voluptate labore excepturi exercitationem similique dolorem explicabo magnam voluptatibus repudiandae odit accusamus. Dolor a autem, est eius ipsa quaerat maxime officiis. Sunt quidem non eius, alias praesentium laborum, animi tenetur debitis quisquam facilis officiis inventore veritatis aspernatur earum necessitatibus quasi rerum fugit dolorum aperiam assumenda reprehenderit natus modi? Quo, aliquid modi dolores nam distinctio rem. Corporis, quae omnis aliquid autem quos sequi et fugit ipsum recusandae quisquam molestias vitae nulla natus expedita ab officiis aperiam. A dolore, eveniet quam officia quod molestiae rem fugiat quibusdam laborum expedita tempora libero maiores obcaecati at accusamus iure eius consequuntur aut voluptatibus necessitatibus! Quia cum quisquam dicta, explicabo in, a odit optio pariatur eveniet sequi, ut vero accusantium sunt quo commodi eligendi. Tempora placeat id dignissimos eaque eius quae doloremque magni, ducimus sit reiciendis consequatur temporibus molestias, dolores, quasi sint debitis fugiat laudantium sunt quam ad obcaecati ipsum veritatis! Quae error consequatur ab quibusdam assumenda voluptatum repellendus asperiores iste distinctio quos dolores veritatis accusamus unde velit earum quam sit, commodi obcaecati molestiae illum eligendi tempora in maxime! Officia tempore possimus minus nulla sed ab amet fugit atque id fugiat dignissimos quis asperiores dicta quod perferendis labore excepturi explicabo modi reprehenderit non, natus consectetur quam qui autem. Delectus veritatis sequi expedita, asperiores enim voluptatum at neque dolore, totam nesciunt ducimus eveniet qui aliquid labore impedit cum id ab dolorum tenetur! Eum dolor minus, consectetur dolorem dignissimos neque veniam iusto at non perferendis id quos iste fuga soluta expedita placeat praesentium libero hic assumenda nihil saepe nulla, voluptas in! Fuga ducimus consequuntur delectus.</p>
                </div>
            </div>
        </div>
    </section>

    <% include ../template/footer.ejs %>


    <script src="/javascripts/template/jquery.min.js"></script>
    <script src="/javascripts/template/bootstrap.bundle.min.js"></script>
    <!-- Plugins This Page -->
    <!-- End Plugins This Page -->
    <script type="text/javascript">
      
    </script>
</body>
</html>