<!DOCTYPE html>
<html lang="en">
    <%
    function numberWithCommas(x) {
      return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
  }
%>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Sistem Informasi Jasa Konstruksi Provinsi Jawa Tengah, SIJAKONS, Jasa Konstruksi Provinsi Jawa Tengah, Jasa Konstruksi, Provinsi Jawa Tengah, HSD, HSPK, HSBGN,">
    <meta name="author" content="Dinas PU Bina Marga dan Cipta Karya Provinsi Jawa Tengah | Balai Jasa Konstruksi Provinsi Jawa Tengah">
    <link rel="shortcut icon" href="/images/template/shortcut_icon.ico">
    <title>SIJAKONS | Sistem Informasi Jasa Konstruksi Provinsi Jawa Tengah</title>

    <link href="/stylesheets/template/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/template/css/style.css" rel="stylesheet">
    <link href="/stylesheets/template/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Plugin This Page --> 
    <link href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css" rel="stylesheet"/>
    <!-- End Plugins This Page -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
    
    </style>
</head>

<body>
    
    <% include ../template/header.ejs %>


    <section style="padding: 90px 0;">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <h2 class="m-t-0 m-b-0 text-center"><strong>HARGA SATUAN BANGUNAN GEDUNG NEGARA (HSBGN)</strong></h2>
                </div>
            </div>
            
            <div class="row" style="margin-top: 30px;">
                <div class="col-md-12 col-lg-12">
                    <div class="alert alert-primary" role="alert">
                        <select class="form-control" name="id_kab" id="id_kab" data-search="true">
                            <option value="">--PILIH--</option>
                            <% for(var i=0; i<kabupaten.length; i++){ %> 
                            
                            <option value="<%= kabupaten[i]['id_kab']%>"   ><%= kabupaten[i]['kab']%> </option>
                            <% }%>
                        </select>
                    </div>
                </div>
                <div class="col-md-12 col-lg-12">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th colspan="2" style="text-align: center;">Gedung Negara</th>
                                <th colspan="3" style="text-align: center;">Rumah Negara</th>
                                <th colspan="3" style="text-align: center;">Pagar Gedung Negara</th>
                                <th colspan="3" style="text-align: center;">Pagar Rumah negara</th>
                            </tr>

                            <tr>
                                <th style="text-align: center;">Sederhana</th>
                                <th style="text-align: center;">Tidak Sederhana</th>

                                <th style="text-align: center;">Tipe A</th>
                                <th style="text-align: center;">Tipe B</th>
                                <th style="text-align: center;">Tipe C,D,E</th>

                                <th style="text-align: center;">Depan<br/>(Tinggi : 1.5 m)</th>
                                <th style="text-align: center;">Belakang<br/>(Tinggi : 3 m)</th>
                                <th style="text-align: center;">Samping<br/>(Tinggi : 2 m)</th>

                                <th style="text-align: center;">Depan<br/>(Tinggi : 1.5 m)</th>
                                <th style="text-align: center;">Belakang<br/>(Tinggi : 2.5 m)</th>
                                <th style="text-align: center;">Samping<br/>(Tinggi : 2 m)</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td id="gs">-</td>
                                <td id="gts">-</td>
                                <td id="tipea">-</td>
                                <td id="tipeb">-</td>
                                <td id="tipec">-</td>
                                <td id="pgndepan">-</td>
                                <td id="pgnbelakang">-</td>
                                <td id="pgnsamping">-</td>
                                <td id="prndepan">-</td>
                                <td id="prnbelakang">-</td>
                                <td id="prnsamping">-</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>

    <% include ../template/footer.ejs %>


    <script src="/javascripts/template/jquery.min.js"></script>
    <script src="/javascripts/template/bootstrap.bundle.min.js"></script>
    <!-- Plugins This Page -->
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
       <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
       <script src="/javascripts/template/rowsgroup.js"></script>
   
    <!-- End Plugins This Page -->
    <script type="text/javascript">
    function numberWithCommas(x) {
		  return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
		}
      $(document).ready(function() {
        
    var t  =  $('.data').DataTable({
      "language": {
        "sProcessing":   '<span>Sedang memproses...</span><i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>',
          "sLengthMenu":   "_MENU_",
          "sZeroRecords":  "Tidak ditemukan data yang sesuai",
          "sInfo":         "Menampilkan _START_ sampai _END_ dari _TOTAL_ entri",
          "sInfoEmpty":    "Menampilkan 0 sampai 0 dari 0 entri",
          "sInfoFiltered": "(disaring dari _MAX_ entri keseluruhan)",
          "sInfoPostFix":  "",
          "sUrl":          "",
          "oPaginate": {
            "sFirst":    "Pertama",
            "sPrevious": "Sebelumnya",
            "sNext":     "Selanjutnya",
            "sLast":     "Terakhir"
          }
      },

      "pageLength": 50,
  
      
         "deferRender": true,
         // "ordering": false,
        //  "columnDefs": [
        //      { "width": "3%" },
        //      { "width": "20%" },
        //      { "width": "24%" },
        //      { "width": "10%" },
        //      { "width": "20%" },
        //      { "width": "20%" },
    
        //      { "width": "20%" }
        //   ],
         "fnRowCallback": function( row, data, iDisplayIndex ) {
                   var index = iDisplayIndex +1;
                   $('td:eq(0)',row).html(index);
                   return row;
         },
    //   "columnDefs": [
    //       { "width": "100px", "targets": 14}
    //   ],
    });

$('#id_kab').change(function(){
    window.location.href = `/manajemen_master/detail_pekerjaan/export_excel/${$('#id_kab').val()}`;
    // $.getJSON(`/manajemen_master/detail_pekerjaan/export_excel/${$('#id_kab').val()}`, function(data){
    //     // console.log(data)
    //     $('#gts').html(numberWithCommas(data[0].gts))
    //     $('#gs').html(numberWithCommas(data[0].gs))
    //     $('#tipea').html(numberWithCommas(data[0].tipea))
    //     $('#tipeb').html(numberWithCommas(data[0].tipeb))
    //     $('#tipec').html(numberWithCommas(data[0].tipec))

    //     $('#pgndepan').html(numberWithCommas(data[0].pgndepan))
    //     $('#pgnbelakang').html(numberWithCommas(data[0].pgnbelakang))
    //     $('#pgnsamping').html(numberWithCommas(data[0].pgnsamping))

    //     $('#prndepan').html(numberWithCommas(data[0].prndepan))
    //     $('#prnbelakang').html(numberWithCommas(data[0].prnbelakang))
    //     $('#prnsamping').html(numberWithCommas(data[0].prnsamping))
    // })
})
 
  });



    </script>
</body>
</html>