<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/images/template/shortcut_icon.ico">
    <title></title>

    <link href="/stylesheets/template/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/template/css/style.css" rel="stylesheet">
    <link href="/stylesheets/template/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Plugin This Page --> 
    <link href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css" rel="stylesheet"/>
    <!-- End Plugins This Page -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
    
    </style>
</head>

<body>
    
    <% include ../template/header.ejs %>


    <section style="padding: 90px 0;">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <h2 class="m-t-0 m-b-0 text-center"><strong>HARGA SATUAN PEKERJAAN KONSTRUKSI (HSPK)</strong></h2>
                </div>
            </div>

            <div class="row" style="margin-top: 30px;">
                <div class="col-md-12 col-lg-12">
                    <div class="accordion" id="accordionExample">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                                <select class="form-control" name="id_kab" id="id_kab" data-search="true">
                                    <option value="-"   >-- PILIH --</option>
                                    <% for(var i=0; i<kabupaten.length; i++){ %> 
                                    
                                    <option value="<%= kabupaten[i]['id_kab']%>"   ><%= kabupaten[i]['kab']%> </option>
                                    <% }%>
                                </select>
                                <!-- <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="font-size: 24px;">
                                KABUPATEN CILACAP
                                </button> -->
                            </h2>
                            </div>

                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12 col-lg-12">
                                        <table class="table table-bordered datane">
                                            <thead>
                                                <tr>
                                                    <th>No.</th>
                                                    <th>Kode</th>
                                                    <th>Satuan</th>
                                                    <th>Uraian Pekerjaan</th>
                                                    <th>Harga Satuan (Rp)</th>
                                                </tr>
                                            </thead>
                    
                                            <tbody>
                                                <tr>
                                                    <td colspan="6" style="font-weight: bold;">A.2.2.1 HARGA SATUAN PEKERJAAN PERSIAPAN</td>
                                                </tr>
                    
                                                <tr>
                                                    <td>1.</td>
                                                    <td>A.2.2.1.1 (K3)</td>
                                                    <td>m3</td>
                                                    <td>Pembuatan pagar sementara dari kayu tinggi 2 meter</td>
                                                    <td>355.082.75</td>
                                                </tr>
                    
                                                <tr>
                                                    <td>2.</td>
                                                    <td>A.2.2.1.2 (K3)</td>
                                                    <td>m3</td>
                                                    <td>Pembuatan pagar sementara dari seng gelombang tinggi 2 meter</td>
                                                    <td>355.082.75</td>
                                                </tr>
                    
                                                <tr>
                                                    <td>3.</td>
                                                    <td>A.2.2.1.3 (K3)</td>
                                                    <td>m3</td>
                                                    <td>Pembuatan pagar sementara dari kawat duri tinggi 2 meter</td>
                                                    <td>355.082.75</td>
                                                </tr>
                    
                                                <tr>
                                                    <td colspan="6" style="font-weight: bold;">A.2.2.1 HARGA SATUAN PEKERJAAN TANAH</td>
                                                </tr>
                                                
                                                <tr>
                                                    <td>1.</td>
                                                    <td>A.2.2.1.1 (K3)</td>
                                                    <td>m3</td>
                                                    <td>Pembuatan pagar sementara dari kayu tinggi 2 meter</td>
                                                    <td>355.082.75</td>
                                                </tr>
                    
                                                <tr>
                                                    <td>2.</td>
                                                    <td>A.2.2.1.2 (K3)</td>
                                                    <td>m3</td>
                                                    <td>Pembuatan pagar sementara dari seng gelombang tinggi 2 meter</td>
                                                    <td>355.082.75</td>
                                                </tr>
                    
                                                <tr>
                                                    <td>3.</td>
                                                    <td>A.2.2.1.3 (K3)</td>
                                                    <td>m3</td>
                                                    <td>Pembuatan pagar sementara dari kawat duri tinggi 2 meter</td>
                                                    <td>355.082.75</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                     
                      
                    </div>

                    
                </div>
            </div>
        </div>
    </section>

    <% include ../template/footer.ejs %>


    <script src="/javascripts/template/jquery.min.js"></script>
    <script src="/javascripts/template/bootstrap.bundle.min.js"></script>
    <!-- Plugins This Page -->
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
       <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
    <!-- End Plugins This Page -->
    <script type="text/javascript">
      $(document).ready(function() {
          let bahan='';
    var t  =  $('.datane').DataTable({
      "language": {
        "sProcessing":   '<span>Sedang memproses...</span><i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>',
          "sLengthMenu":   "_MENU_",
          "sZeroRecords":  "Tidak ditemukan data yang sesuai",
          "sInfo":         "Menampilkan _START_ sampai _END_ dari _TOTAL_ entri",
          "sInfoEmpty":    "Menampilkan 0 sampai 0 dari 0 entri",
          "sInfoFiltered": "(disaring dari _MAX_ entri keseluruhan)",
          "sInfoPostFix":  "",
          "sUrl":          "",
          "oPaginate": {
            "sFirst":    "Pertama",
            "sPrevious": "Sebelumnya",
            "sNext":     "Selanjutnya",
            "sLast":     "Terakhir"
          }
      },
  
      "processing": true,
           "ajax": "/manajemen_master/pekerjaan/list/"+$('#id_kab').val(),
           "columns": [
               { "data": null},
               { "data": "mata_pembayaran"},
               { "data": "satuan"},
               { "data": "hargaMin"},
               { "data": null, render: function(data){

                  return `<a href="#" class="hspk" idnya="${data.id}">${data.nama_pekerjaan}</a>`;
               }},
            //    { "data": "total_keseluruhan"},
              
         ],
        
         "deferRender": true,
         // "ordering": false,
        //  "columnDefs": [
        //      { "width": "3%" },
        //      { "width": "20%" },
        //      { "width": "24%" },
        //      { "width": "10%" },
        //      { "width": "20%" },
        //      { "width": "20%" },
    
        //      { "width": "20%" }
        //   ],
         "fnRowCallback": function( row, data, iDisplayIndex ) {
                   var index = iDisplayIndex +1;
                   $('td:eq(0)',row).html(index);
                   return row;
         },
    //   "columnDefs": [
    //       { "width": "100px", "targets": 14}
    //   ],
    });


   

    $('.datane').on('click', '.hspk', function(e) {
          // console.log($(this).attr('id_standar_harga'));
          if($(this).length>1){
            $(this).popover('hide');
          }
          $.getJSON( "/manajemen_master/pekerjaan/detail_satuan/"+$(this).attr('idnya')+"/"+$('#id_kab').val(), function( data ) {
            console.log(data)
            $('.hspk').popover({
                        "html": true,
                        trigger: 'manual',
                        placement: 'left',
                        "content": function () {
                          let text ="<ul>";
                  data.data.list.forEach(function(item){
                    text+=`<li>${item.nama} : Harga = ${item.harga} , Koefisien = ${item.koefisien}</li>`
                  })
                  text+="</ul>"
                  text+="sub total :"+data.data.total;
                  text+="</br>profit :"+data.data.profit;
                  text+="</br>total :"+data.data.total_keseluruhan;
                 return text;
                        }
                    })

            $(e.target).popover('toggle');
          })

         
      })
  




    $('#id_kab').change(function(){
   
   t.ajax.url( `/manajemen_master/pekerjaan/list/${$('#id_kab').val()}` ).load();
 })
  });

    </script>
</body>
</html>