<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Sistem Informasi Jasa Konstruksi Provinsi Jawa Tengah, SIJAKONS, Jasa Konstruksi Provinsi Jawa Tengah, Jasa Konstruksi, Provinsi Jawa Tengah, HSD, HSPK, HSBGN,">
    <meta name="author" content="Dinas PU Bina Marga dan Cipta Karya Provinsi Jawa Tengah | Balai Jasa Konstruksi Provinsi Jawa Tengah">
    <link rel="shortcut icon" href="/images/template/shortcut_icon.ico">
    <title>SIJAKONS | Sistem Informasi Jasa Konstruksi Provinsi Jawa Tengah</title>

    <link href="/stylesheets/template/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/template/css/style.css" rel="stylesheet">
    <link href="/stylesheets/template/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Plugin This Page --> 
    <link href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css" rel="stylesheet"/>
    <!-- End Plugins This Page -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
    
    </style>
</head>

<body>
    
    <% include ../template/header.ejs %>


    <section style="padding: 90px 0;">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <h2 class="m-t-0 m-b-0 text-center"><strong>PROFIL PEMBINAAN JASA KONSTRUKSI KABUPATEN/KOTA</strong></h2>
                </div>
            </div>

            <div class="row" style="margin-top: 30px;">
                <div class="col-md-12 col-lg-12">
                    <div class="alert alert-primary" role="alert">
                        <select class="form-control" name="id_kab" id="id_kab" data-search="true">
                            <option value="">--Pilih Kabupaten/Kota--</option>
                            <% for(var i=0; i<kabupaten.length; i++){ %> 
                            
                            <option value="<%= kabupaten[i]['id_kab']%>"   ><%= kabupaten[i]['kab']%> </option>
                            <% }%>
                        </select>
                      </div>
                </div>
            </div>

            <div id="profil">

            </div>

            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="card">
                        <h5 class="card-header"><strong>DAFTAR SUSUNAN TPJK</strong></h5>
                        
                        <div class="card-body">
                          <div class="row">
                              <div class="col-md-12 col-lg-12">
                                  <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>No.</th>
                                            <th>Nama / Jabatan Dalam Kedinasan</th>
                                            <th>Nama</th>
                                            <th>Jabatan</th>
                                        </tr>
                                    </thead>

                                    <tbody id="tpjk">
                                        
                                    </tbody>
                                  </table>
                              </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    

    <% include ../template/footer.ejs %>


    <script src="/javascripts/template/jquery.min.js"></script>
    <script src="/javascripts/template/bootstrap.bundle.min.js"></script>
    <!-- Plugins This Page -->
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
       <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
       <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <!-- End Plugins This Page -->
    <script type="text/javascript">
      $('.datane').DataTable({
          order:false,
      });

    

    $('#detail').hide();
    $('#detail2').hide();

    $('.btn-detail').click(function() {
        $('#detail').show();
            $('html, body').animate({
            scrollTop: $("#detail").offset().top
            }, 1000);
    });

    $('.btn-detail2').click(function() {
        $('#detail2').show();
            $('html, body').animate({
            scrollTop: $("#detail2").offset().top
            }, 1000);
    });


    $('#id_kab').change(function(){
        $.getJSON( "/info_jakon/profil_pembinaan_json/"+$('#id_kab').val(), function( data ) {
            console.log(data)

            $('#profil').empty();
            $('#profil').html(`<div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="card">
                        <h5 class="card-header"><strong>A. UNIT PEMBINA JASA KONSTRUKSI</strong></h5>
                        <div class="card-body">
                          <div class="row">
                              <div class="col-md-12 col-lg-12">
                                  <table class="table table-borderless">
                                      <tbody>
                                        <tr>
                                            <td style="width: 330px;">Nama Instansi</td>
                                            <td style="width: 15px;">:</td>
                                            <td>${data.data[0].instansi_pembina}</td>
                                        </tr>

                                        <tr>
                                            <td>Nama Bidang / Subdit. (Es. III)</td>
                                            <td>:</td>
                                            <td>-</td>
                                        </tr>

                                        <tr>
                                            <td>Nama Sub Bidang / Seksi (Es. IV)</td>
                                            <td>:</td>
                                            <td>-</td>
                                        </tr>

                                        <tr>
                                            <td>Alamat Kantor</td>
                                            <td>:</td>
                                            <td>-</td>
                                        </tr>

                                        <tr>
                                            <td>No. Telp/Fax</td>
                                            <td>:</td>
                                            <td>-</td>
                                        </tr>

                                        <tr>
                                            <td>Email</td>
                                            <td>:</td>
                                            <td>-</td>
                                        </tr>

                                        <tr>
                                            <td>Tugas dan Fungsi Jasa Konstruksi</td>
                                            <td>:</td>
                                            <td>-</td>
                                        </tr>

                                        <tr>
                                            <td>Peraturan Daerah Tentang Struktur Organisasi Daerah</td>
                                            <td>:</td>
                                            <td>-</td>
                                        </tr>
                                      </tbody>
                                  </table>
                              </div>
                          </div>
                        </div>
                      </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="card">
                        <h5 class="card-header"><strong>B. TIM PEMBINA JASA KONSTRUKSI</strong></h5>
                        
                        <div class="card-body">
                          <div class="row">
                              <div class="col-md-12 col-lg-12">
                                  <h6>Instansi Pembina Jasa Konstruksi</h6>
                              </div>
                              <div class="col-md-12 col-lg-12">
                                  <table class="table table-borderless">
                                      <tbody>
                                        <tr>
                                            <td style="width: 15px;">1.</td>
                                            <td style="width: 300px;">Nama </td>
                                            <td style="width: 15px;">:</td>
                                            <td>-</td>
                                        </tr>

                                        <tr>
                                            <td>&nbsp;</td>
                                            <td>Alamat Kantor</td>
                                            <td>:</td>
                                            <td>-</td>
                                        </tr>

                                        <tr>
                                            <td>&nbsp;</td>
                                            <td>No. Telp/Fax</td>
                                            <td>:</td>
                                            <td>-</td>
                                        </tr>

                                        <tr>
                                            <td>&nbsp;</td>
                                            <td>Email</td>
                                            <td>:</td>
                                            <td>-</td>
                                        </tr>
                                      </tbody>
                                  </table>

                                  <table class="table table-borderless">
                                    <tbody>
                                      <tr>
                                          <td style="width: 15px;">2.</td>
                                          <td style="width: 300px;">Nama </td>
                                          <td style="width: 15px;">:</td>
                                          <td>-</td>
                                      </tr>

                                      <tr>
                                          <td>&nbsp;</td>
                                          <td>Alamat Kantor</td>
                                          <td>:</td>
                                          <td>-</td>
                                      </tr>

                                      <tr>
                                          <td>&nbsp;</td>
                                          <td>No. Telp/Fax</td>
                                          <td>:</td>
                                          <td>-</td>
                                      </tr>

                                      <tr>
                                          <td>&nbsp;</td>
                                          <td>Email</td>
                                          <td>:</td>
                                          <td>-</td>
                                      </tr>
                                    </tbody>
                                </table>
                              </div>
                          </div>
                        </div>
                      </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="card">
                        <h5 class="card-header"><strong>C. UNIT PENERBIT IUJK</strong></h5>
                        
                        <div class="card-body">
                          <div class="row">
                              <div class="col-md-12 col-lg-12">
                                  <table class="table table-borderless">
                                      <tbody>
                                        <tr>
                                            <td style="width: 330px;">Nama Instansi</td>
                                            <td style="width: 15px;">:</td>
                                            <td>-</td>
                                        </tr>

                                        <tr>
                                            <td>Nama Bidang / Subdit. (Es. III)</td>
                                            <td>:</td>
                                            <td>-</td>
                                        </tr>

                                        <tr>
                                            <td>Nama Sub Bidang / Seksi (Es. IV)</td>
                                            <td>:</td>
                                            <td>-</td>
                                        </tr>

                                        <tr>
                                            <td>Alamat Kantor</td>
                                            <td>:</td>
                                            <td>-</td>
                                        </tr>

                                        <tr>
                                            <td>No. Telp / Fax</td>
                                            <td>:</td>
                                            <td>-</td>
                                        </tr>

                                        <tr>
                                            <td>Email</td>
                                            <td>:</td>
                                            <td>-</td>
                                        </tr>

                                        <tr>
                                            <td>Tugas dan Fungsi Jasa Konstruksi</td>
                                            <td>:</td>
                                            <td>-</td>
                                        </tr>
                                      </tbody>
                                  </table>
                              </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>`);

            $('#tpjk').empty()
            data.data[0].tpjk.forEach((element,index) => {
                $('#tpjk').append(   `<tr>
                                            <td>${index+1}.</td>
                                            <td>${element.nama} / ${element.jabatan_kedinasan}</td>
                                            <td>${element.nama}</td>
                                            <td>${element.jabatan}</td>
                                        </tr>`)
            });
         
        })
    })
    </script>
</body>
</html>