<% include ../../template-backoffice/header.ejs %>
<!-- BEGIN PAGE CONTENT -->
<div class="page-content">
  <div class="header">
    <h2><strong>Tambah Data HSBGN</strong></h2>
    <div class="breadcrumb-wrapper">
      <ol class="breadcrumb">
        <li><a href="/backoffice">Dashboard</a></li>
        <li><a href="/manajemen_hsbgn">Data</a></li>
        <li class="active">Tambah Data</li>
      </ol>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="panel">
        <div class="panel-content">
          <form role="form" action="/manajemen_hsbgn/submit_insert" method="POST" enctype="multipart/form-data">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="form-group">
                  <label>Kabupaten/Kota</label>
                  <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <table class="table table-bordered">
                  <tbody>
                    <tr>
                      <td rowspan="3" style="width: 200px;">Gedung Negara</td>
                    </tr>

                    <tr>
                      <td style="width: 200px;">Sederhana</td>
                      <td><input type="text" class="form-control" name="" id=""></td>
                    </tr>

                    <tr>
                      <td>Tidak Sederhana</td>
                      <td><input type="text" class="form-control" name="" id=""></td>
                    </tr>

                    <tr>
                      <td rowspan="4">Rumah Negara</td>
                    </tr>

                    <tr>
                      <td>Tipe A</td>
                      <td><input type="text" class="form-control" name="" id=""></td>
                    </tr>
                    
                    <tr>
                      <td>Tipe B</td>
                      <td><input type="text" class="form-control" name="" id=""></td>
                    </tr>

                    <tr>
                      <td>Tipe C,D,E</td>
                      <td><input type="text" class="form-control" name="" id=""></td>
                    </tr>

                    <tr>
                      <td rowspan="4">Pagar Gedung Negara</td>
                    </tr>

                    <tr>
                      <td>Depan (Tinggi : 1.5 m)</td>
                      <td><input type="text" class="form-control" name="" id=""></td>
                    </tr>
                    
                    <tr>
                      <td>Belakang (Tinggi : 3 m)</td>
                      <td><input type="text" class="form-control" name="" id=""></td>
                    </tr>

                    <tr>
                      <td>Samping (Tinggi : 2 m)</td>
                      <td><input type="text" class="form-control" name="" id=""></td>
                    </tr>

                    <tr>
                      <td rowspan="4">Pagar Rumah Negara</td>
                    </tr>

                    <tr>
                      <td>Depan (Tinggi : 1.5 m)</td>
                      <td><input type="text" class="form-control" name="" id=""></td>
                    </tr>
                    
                    <tr>
                      <td>Belakang (Tinggi : 2.5 m)</td>
                      <td><input type="text" class="form-control" name="" id=""></td>
                    </tr>

                    <tr>
                      <td>Samping (Tinggi : 2 m)</td>
                      <td><input type="text" class="form-control" name="" id=""></td>
                    </tr>
                  </tbody>
                </table>

                <button type="submit" class="btn btn-primary btn-embossed">Simpan</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="copyright">
      <p class="pull-left sm-pull-reset">
        <span>Copyright <span class="copyright">©</span> 2018 </span>
        <span>Pemerintah</span>.
      </p>
    </div>
  </div>
</div>
<!-- END PAGE CONTENT -->

<% include ../../template-backoffice/footer.ejs %>
<script type="text/javascript">

</script>