<% include ../../template-backoffice/header.ejs %>
<!-- BEGIN PAGE CONTENT -->
<div class="page-content">
  <div class="header">
    <h2><strong>Tambah Data Master Detail Pekerjaan</strong></h2>
    <div class="breadcrumb-wrapper">
      <ol class="breadcrumb">
        <li><a href="/backoffice">Dashboard</a></li>
        <li><a href="/manajemen_master/list_ssh">Data Master Detail Pekerjaan</a></li>
        <li class="active">Tambah Data</li>
      </ol>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="panel">
        <div class="panel-content">
          <form role="form" action="/manajemen_master/detail_pekerjaan/submit_insert" method="POST" enctype="multipart/form-data">
            <div class="row">
              <div class="col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3">
                <div class="form-group">
                  <label>Kabupaten</label>
                  <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                      <select class="form-control" name="id_kab" id="id_kab" data-search="true">
                        <option value="-">-- Pilih --</option>
                       
                        <% for(var i=0; i<kabupaten.length; i++){ %> 
                          
                          <option value="<%= kabupaten[i]['id_kab']%>"><%= kabupaten[i]['kab']%></option>
                          <% }%>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label>Toko</label>
                  <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                      <select class="form-control" name="id_toko" id="id_toko" data-search="true">
                      
                     
                      </select>
                      
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                      <a href="#" id="refreshToko" class="btn btn-warning btn-embossed">Refresh Toko</a>
                    </div>
                    <button id="export" class="btn btn-success btn-embossed">Export Master Excel</button>

                  </div>

                </div>

                <div class="form-group">
                  
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 col-lg-12">
                <hr>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 col-lg-6">
                <div class="panel bg-blue">
                  <div class="panel-header">
                    <h3 style="margin-bottom: 0;"><strong>Export Excel</strong></h3>
                  </div>
                  <div class="panel-content">
                    <p>Silahkan Export excel untuk melihat harga toko dari kabupaten yang anda pilih</p>
                    <button id="export" class="btn btn-success btn-embossed">Export Master Excel</button>
                  </div>
                </div>
                
              </div>
              <div class="col-md-6 col-lg-6">
                <div class="panel bg-purple">
                  <div class="panel-header">
                    <h3 style="margin-bottom: 0;"><strong>Import Excel</strong></h3>
                  </div>
                  <div class="panel-content">
                    <p>Silahkan Import excel untuk menginput harga toko dari kabupaten yang anda pilih</p>
                    <input type="file" class="form-control" name="file_ssh" id="">
                    <button type="submit" class="btn btn-primary btn-embossed" style="margin-top: 15px;">Import Excel</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
          
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="copyright">
      <p class="pull-left sm-pull-reset">
        <span>Copyright <span class="copyright">©</span> 2021 </span>
        <span>Dinas PU Bina Marga dan Cipta Karya Provinsi Jawa Tengah</span>.
      </p>
    </div>
  </div>
</div>
<!-- END PAGE CONTENT -->

<% include ../../template-backoffice/footer.ejs %>
<script type="text/javascript">
 $('#id_kab').change(function(){
   
   // t.ajax.url( `/manajemen_master/pekerjaan/list_json/${$('#id_kab').val()}` ).load();
   $.getJSON( "/list_toko/"+$('#id_kab').val(), function( data ) {
         var items = [];
         $('#id_toko').empty()
         $.each( data, function( key, val ) {
           $('#id_toko').append(`<option value="${val.id}">${val.nama_toko}</option>`)
         });
       
       
       });
 })

 $('#refreshToko').click(function(){
   
   // t.ajax.url( `/manajemen_master/pekerjaan/list_json/${$('#id_kab').val()}` ).load();
   $.getJSON( "/list_toko/"+$('#id_kab').val(), function( data ) {
         var items = [];
         $('#id_toko').empty()
         $.each( data, function( key, val ) {
           $('#id_toko').append(`<option value="${val.id}">${val.nama_toko}</option>`)
         });
       
       
       });
 })

 $('#export').click(function(){
  //  console.log($('#id_toko').val())
   if(!$('#id_toko').val()&& $('#id_toko').val()!='-'){
      alert('Silahkan Pilih Kabupaten/Kota dan Toko!')
   }else{

      window.open('/manajemen_master/detail_pekerjaan/export_excel/'+$('#id_kab').val()+"/"+$('#id_toko').val())
   }
 })
</script>