<% include ../../template-backoffice/header.ejs %>
<%
    function numberWithCommas(x) {
      return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
  }
%>
<!-- BEGIN PAGE CONTENT -->
<div class="page-content">
  <div class="header">
    <h2><strong>Data Harga Satuan Dasar</strong></h2>
    <div class="breadcrumb-wrapper">
      <ol class="breadcrumb">
        <li><a href="/backoffice">Dashboard</a>
        </li>
        <li class="active">Data</li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="panel">
        <div class="panel-header header-line">
          <div class="row">
            <div class="col-md-12 col-lg-12">
              <a class="btn btn-primary btn-embossed" href="/manajemen_master/detail_pekerjaan/import" role="button"><i class="fa fa-plus" aria-hidden="true"></i>Import/Export Data</a>
            </div>
          </div>

          <div class="row" style="margin-top: 15px;">
            <div class="col-md-12 col-lg-12">
              <div class="panel bg-aero" style="margin-bottom: 0;">
                <div class="panel-header">
                  <h3 style="margin-bottom: 0;">Pencarian Harga Satuan Dasar Berdasarkan Kabupaten/Kota</h3>
                </div>
                <div class="panel-content">
                  <select class="form-control" name="id_kab" id="id_kab" data-search="true">
                    <option value="-"   >-- Pilih --</option>
                    <% for(var i=0; i<kabupaten.length; i++){ %> 
                    
                    <option value="<%= kabupaten[i]['id_kab']%>"   ><%= kabupaten[i]['kab']%> </option>
                    <% }%>
                </select>
                </div>
              </div>
            </div>
          </div>
           
           

        <!-- <select class="form-control" name="id_toko" id="id_toko" data-search="true">
          <option value="-"   >-- PILIH --</option>
         
      </select> -->
      <!-- <button id='cari'>CARI</button> -->
          </div>
        <div class="panel-content pagination2">
          <table class="table table-bordered table-striped table-hover" id="data">
            <thead>
              <tr>
                <th class="header">No.</th>
                <th class="header">Nama</th>
                <th class="header">Satuan</th>
                <!-- <th class="header">Toko</th> -->
                <th class="header">Harga Min</th>
              </tr>
            </thead>
            
            <tbody>
             
             
            </tbody>
          </table>
        </div>
      </div>
    </div>  
  </div>
  <div class="footer">
    <div class="copyright">
      <p class="pull-left sm-pull-reset">
        <span>Copyright <span class="copyright">©</span> 2021 </span>
        <span>Dinas PU Bina Marga dan Cipta Karya Provinsi Jawa Tengah</span>.
      </p>
    </div>
  </div>
</div>
<!-- END PAGE CONTENT -->

<% include ../../template-backoffice/footer.ejs %>

<script type="text/javascript">
function numberWithCommas(x) {
		  return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
		}
  $(document).ready(function() {
    var t  =  $('#data').DataTable({
      "language": {
        "sProcessing":   '<span>Sedang memproses...</span><i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>',
          "sLengthMenu":   "_MENU_",
          "sZeroRecords":  "Tidak ditemukan data, silahkan pilih Kab/kota",
          "sInfo":         "Menampilkan _START_ sampai _END_ dari _TOTAL_ entri",
          "sInfoEmpty":    "Menampilkan 0 sampai 0 dari 0 entri",
          "sInfoFiltered": "(disaring dari _MAX_ entri keseluruhan)",
          "sInfoPostFix":  "",
          "sUrl":          "",
          "oPaginate": {
            "sFirst":    "Pertama",
            "sPrevious": "Sebelumnya",
            "sNext":     "Selanjutnya",
            "sLast":     "Terakhir"
          }
      },
  
      "processing": true,
           "ajax": "/manajemen_master/pekerjaan/list_json/"+$('#id_kab').val(),
           "columns": [
               { "data": null},
              //  { "data": "jenis"},
               { "data": "nama"},
               { "data": "satuan"},
              //  { "data": "hargaSurvey", render: function(data){
              //   //  console.log(data)
              //   let text ="<ul>";
              //     data.forEach(function(item){
              //       text+=`<li>${item.nama_toko} : ${item.harga}</li>`
              //     })
              //     text+="</ul>"
              //    return text;
              //  }},
               { "data": null, render: function(data){
                 (!data.hargaMin)?data.hargaMin=0:data.hargaMin;
                  return `<a href="#" class="hargamin" id_standar_harga="${data.id}" style="float:right">${numberWithCommas(data.hargaMin)}</a>`;
               }},
              
         ],
        //  'rowsGroup': [1],
      //    'createdRow': function(row, data, dataIndex){
      //    // Use empty value in the "Office" column
      //    // as an indication that grouping with COLSPAN is needed
      //    if(data[1] === ''){
      //       // Add COLSPAN attribute
      //       $('td:eq(0)', row).attr('colspan', 5);

      //       // Hide required number of columns
      //       // next to the cell with COLSPAN attribute
      //       $('td:eq(1)', row).css('display', 'none');
      //       $('td:eq(2)', row).css('display', 'none');
      //       $('td:eq(3)', row).css('display', 'none');
      
      //    }
      // },
         "deferRender": true,
         // "ordering": false,
        //  "columnDefs": [
        //      { "width": "3%" },
        //      { "width": "20%" },
        //      { "width": "24%" },
        //      { "width": "10%" },
        //      { "width": "20%" },
        //      { "width": "20%" },
    
        //      { "width": "20%" }
        //   ],
         "fnRowCallback": function( row, data, iDisplayIndex ) {
                   var index = iDisplayIndex +1;
                   $('td:eq(0)',row).html(index);
                   return row;
         },
    //   "columnDefs": [
    //       { "width": "100px", "targets": 14}
    //   ],
    });

    $('#id_kab').change(function(){
   
   
    // $.getJSON( "/list_toko/"+$('#id_kab').val(), function( data ) {
    //       var items = [];
    //       $('#id_toko').empty()
    //       $.each( data, function( key, val ) {
    //         $('#id_toko').append(`<option value="${val.id}">${val.nama_toko}</option>`)
    //       });
        
        
    //     });
    t.ajax.url( `/manajemen_master/pekerjaan/list_json/${$('#id_kab').val()}` ).load();

  })

 



      $('#data').on('click', '.hargamin', function(e) {
          // console.log($(this).attr('id_standar_harga'));
          $(this).popover('destroy');
          if($(this).length>1){
            $(this).popover('hide');
          }
          $.getJSON( "/manajemen_master/pekerjaan/detail_toko/"+$(this).attr('id_standar_harga')+"/"+$('#id_kab').val(), function( data ) {
            // console.log(data)
            $('.hargamin').popover({
                        "html": true,
                        trigger: 'manual',
                        placement: 'left',
                        "content": function () {
                          let text ="<ul>";
                  data.data.forEach(function(item){
                    text+=`<li>${item.nama_toko} : ${item.harga}</li>`
                  })
                  text+="</ul>"
                 return text;
                        }
                    })

            $(e.target).popover('toggle');
          })

         
      })


      // $('#data').on('click', function(e) {
      //     // console.log($(this).attr('id_standar_harga'));
      //     if($(this).length>1)
      //       $(this).popover('hide');
      //      $(e.target).popover('toggle');
       

         
      // })

      
  });

  
</script>