<footer style="background-color: rgba(0, 0, 0, 1);padding: 60px 0;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <center>
                    <img src="/images/template/logo-prov-jateng.png" alt="">
                    <h3 style="color: #fff;margin-top: 15px;margin-bottom: 0;"><strong>DINAS PU BINA MARGA CIPTA KARYA</strong></h3>
                    <h3 style="color: #fff;margin-top: 0;"><strong>PROVINSI JAWA TANGAH</strong></h3>
                    <div style="width: 70%;height: 2px;background-color: #fff;"></div>

                    <h5 style="color: #fff;margin-bottom: 0;margin-top: 15px;">BALAI JASA KONSTRUKI PROVINSI JAWA TENGAH</h5>
                    <h5 style="color: #fff;margin-top: 0;">Jl. Ace No.3, Srondol Wetan, Kec. Banyumanik, Kota Semarang, Jawa Tengah 50263 </h5>
                </center>
            </div>
        </div>
    </div>
</footer>